html {
    font-family: "Verdana", sans-serif;
    
}

h1 {
    font-size: 1rem;
    background-color: pink;
    padding: 1em;
}

p, li {
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.container {
    display: flex;   
    background-color: aquamarine;
}
    

body {
    
    
    padding: 0em;
    
}

img {
  	
  margin: 0% auto; 
}

a {
  color: crimson;
}

code {
    font-family: "Lucida Console", monospace;
    font-size: 0.8rem;
}

pre {
    font-family: "Lucida Console", monospace;
    font-size: 0.8rem;
    padding: 1em;
    background-color: teal;
}

.item {
    padding: 1em 1em 0em 1em;
    max-width: 65ch;
}
    
}	    

@media (20em <= width <= 40em) {
  .container {
    margin: 0em;    
    
  }
}
