html {
    font-family: "Verdana", sans-serif;
    background-color: white;
}

h1 {
    font-size: 1rem;
    background-color: aquamarine;
    color: navy;
    padding: 1em;
    margin-bottom: 0.5em;
}

p, li {
    letter-spacing: 1px;
    font-size: 0.8rem;
    color: black;
}

.m3 {
    display: grid;
    
}

.m2 {
    display: flex;   
    background-color: lemonchiffon;
}

.m1 {
    padding: 1em 1em 0em 1em;
    max-width: 65ch;
}    	    
    

body {
    
    
    padding: 0em;
    
}

img {
  	
  margin: 0% auto; 
}

a {
  color: blue;
}

code {
    font-family: "Lucida Console", monospace;
    font-size: 0.8rem;
}

pre {
    font-family: "Lucida Console", monospace;
    font-size: 0.8rem;
    padding: 1em;
    background-color: teal;
}


@media (20em <= width <= 40em) {
  .container {
    margin: 0em;    
    width: fit-content; 
  }
}
