html {
    font-family: sans-serif;
    background: #dafac5;
}

h1 {
    font-size: 1rem;
    color: navy;  
}

p, li {
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.container {
    display: flex;
}

body {
    max-width: 80ch;
    
    
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: purple;
}

a:hover {
  background-color: cyan;
}

.item {
    
    
}
	    
@media screen and (width >= 4rem) {
  .container {
    margin: 0em;
  }
}