html {
    font-family: sans-serif;
    background: midnightblue;
}

h1 {
    font-size: 1.3rem;
    color: aquamarine;
}

p, li {
    letter-spacing: 1px;
    font-size: 0.8rem;
}

.container {
    display: flex;
}

body {
    max-width: 80ch;
    color: honeydew;
    background: darkslateblue;
    padding: 1em;
    border: 1px solid black;
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: yellow;
}

a:hover {
  background-color: cyan;
}

.item {
    
    
}
	    
@media screen and (width >= 4rem) {
  .container {
    margin: 0em;
  }
}