html {
    font-family: "Verdana", sans-serif;
    background: #01041f;
}

h1 {
    font-size: 1.7rem;
    color: #fcc96f;
    
    margin: 0em;
}

p, li {
    letter-spacing: 1px;
    font-size: 1rem;
}

.container {
    display: flex;   
    max-width: 120ch;
}

body {
    
    color: honeydew;
    padding: 0em;
    
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: aquamarine
}

a:hover {
  background-color: cyan;
}

pre {
    font-family: "Lucida Console", monospace;
    font-size: 1rem;
    padding: 1em;
    background: teal;
}

.item {
   
    
}	    

@media (20em <= width <= 40em) {
  .container {
    margin: 0em;    
    
  }
}
