html {
    font-family: sans-serif;
    background: gray;
}

h1 {
    font-size: 18px;
    color: navy;
    margin-left: 1em;
}

p, li {
    letter-spacing: 1px;
    font-size: 12px;
    background-color: aquamarine;
    border: 1px solid darkgreen;
    padding: 1em 4em 1em 4em;  
}

.container {
    display: flex
}

body {
    margin: 1em auto;
    width: 47%;
    padding: 2em 8em 7em 8em;
    border: 2px solid black;
    background: white;
}

img {
  width: 100%;	
  display: block;
  margin: 0% auto; 
}

a {
  color: purple;
}

a:hover {
  background-color: cyan;
}

.item {
    padding: 0em 1em 0em;
    margin: 2.5em auto;
    min-width: 10em;
}
	    
